*{
	padding: 0;
	margin: 0;
	font-family: roboto;


}



figure img{
	width: 100%;
	height: 800px;
	margin-bottom: 1px;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;

}
h2{
	text-align: center;
font-family: 'Roboto Condensed', sans-serif;

}



h6{
	padding: 10px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
;
font-family: 'Roboto Condensed', sans-serif;
padding-bottom: 20px;
}




nav{
position: absolute;
z-index: 2;
padding: 15px;

}

footer{
	background-color: black;
	color: white;

}

footer .barra-footer{
background-color: grey;
text-align: center;
padding-right: 15px;
padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
}

footer ul{
	padding-left: 0;
	list-style: none;


}

footer ul li{
	margin-bottom: 10px;
}

footer .logo-footer{
	width: 100%;
}

footer .redessociales {
font-size: 40px;
display: inline-flex;


}

footer .redessociales a{
	margin: 0 7.5px;
}

header .container .hamb{
	display: none;
	
}


.growshop{
padding-bottom: 40px;
padding-top: 40px;
}

.analisis2{
padding-bottom: 40px;
padding-top: 40px;
}
.analisis1{
padding-bottom: 40px;
}




@keyframes typing{
	from {width:  0}
}

@keyframes blink{
	50%{border-color: transparent;}
}


.boton{
	text-align: center;
	text-decoration: none;
	padding: 20px 20px;
	margin-top: 40px;
   position: relative;
	z-index: 1;


}

.boton.boton-violeta{
color: white;
background: blueviolet;
opacity: 0.7 ;
}

.boton.boton-violeta:hover{
color: blueviolet;
background: white;

}

.growtw{
	width: 40%;
}

.growtw:hover{
	max-width: 50%;
	width: 70%;
}


.detalle{
	position: absolute;
	z-index: 1;
	margin-top: 10%;
	
	font-size: 29px;
	color: white;
width: 100%;
	height: 100%;
	padding-bottom:30px;
	text-align: center;
}

.btn-wsp{
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 30px;
	right: 30px;
	background: limegreen;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px black;
	z-index: 100;
}

.btn-wsp:hover{
	text-decoration: none;
	color: limegreen;
	background: #fff;
}

.nav-item{
	display: inline-block;

	font-size: 14px;
	margin-top: 40px;
	
}
.nav-link{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	letter-spacing: 1px;
	overflow: hidden;
	transition: 0.2s;
	width: 40px;
	text-decoration: none;
	color: white;
	border-radius: 1px;
	
}

.nav-link:hover{
	background: #a945c7;
	box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
	transition-delay: 0.4s;

}

.bottom{
	background: none;
	transition-delay: 0.4s;

}

.shrlink{
	width: 100%;
	transition: aal ease-in-out 2s ;
	background: black;
	position: fixed;
	opacity: 0.7;
}
.top{
	width: 100%;
	transition: aal ease-in-out 0.8s ;
}


.columna-25{
	margin-left: 15px;
	margin-right: 15px;
	width: 23.3%;

}

.columna-25 h3{
	padding-bottom: 10px;
}

.columna-25 i{
	padding: 10px;
	width: 18px;
}

.contenedor{
	display: inline-flex;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;


}
.row{
	display: inline-flex;
	z-index: 2;

}
.row a{
	text-decoration: none;
	color: white;
}


.contenedor2{
	display: flex;
	align-items: center;
	justify-content: center;
min-height: 50vh;
background: white;
	

}





.card{
	
	position: relative;
	width: 300px;
	height: 350px;
	margin: 20px;
}
.card .face{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;

}
.card .front{
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px black;
}

.card .front img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.card .front h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: white !important;

	background: black;

	opacity: 50%;
	text-align: center;

}

.card .back{
	transform: perspective(600px) rotateY(180deg);
	background: white;
	padding: 0;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
 box-shadow: 0 5px 10px black;
}

.card .back .link{
	border-top: solid 3px white;
	height: 50px;
	line-height: 50px;

}

.card .back .link {
	color: black;
}

.card .back h3{
	font-size: 30px;
	margin-top: 20px;
	letter-spacing: 2px;

}
.card .back p{
	letter-spacing: 1px;

}

.contenedor p{
	margin-bottom: 40px;

}
.card:hover .front{
	transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
	transform: perspective(600px) rotateY(360deg);
}

.slider{
	width: 100%;
	height: 600%;
	overflow: hidden;

}
.slider ul{
	display: flex;
	animation: cambio 30s infinite alternate linear;
	width: 400%;
}

.slider li{
	width: 50%;
	height: 50%;
	list-style: none;

}
.slider img{
	width: 100%;
	height: 100%;

}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: -25;}
	25%{margin-left: -50%;}
	30%{margin-left: -100%;}
	45%{margin-left: -150%;}
	50%{margin-left: -200%;}
	55%{margin-left: -250%;}
	70%{margin-left: -300%;}
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

.mapasTw{
	 display: flex;
	align-items: center;
	justify-content: center;
min-height: 50vh;


 

}

.mapasMy{
	display: flex;
	align-items: center;
	justify-content: center;
min-height: 50vh;
}





.map-responsive{


	display: flex;
	align-items: center;
	justify-content: center;
min-height: 50vh;
background: white;
	position: relative;
	width: 300px;
	height: 350px;
	margin: 20px;
box-shadow: 0 5px 10px black;



}

.map-responsive iframe{
position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;	
}

.btn-wsp2{
	color: limegreen;
	font-size: 13px;

}

.fa-brands.fa-instagram{
	color: violet;
	font-size: 20px;

}
#wsp{
	color: limegreen;
	font-size: 20px;

}
.fa-brands.fa-square-facebook{
	color: skyblue;
	font-size: 20px;

}

.maquina{
	    display: flex;
    align-items: center;
    justify-content: center;
}
.imgmaq{
	width: 45%;
	display: block;
}
.imgmaq:hover{
	width: 55%;
}
article{
	display: block;
	width: 45%;
	font-family: arial;
	font-size: 20px;
	margin: 10px;
}
article:hover{
	font-size: 25px;
	
}
@media(max-width: 767px){
	
	.imgmaq{
	width: 80%;
	display: block;
}
.imgmaq:hover{
	width: 95%;
}
article{
	width: 90%;
}
	.container{
		width: 100%;

	}
	.shrlink{
		display: none;
	}
	.nav{
		position: fixed;
		width: 100%;
		background-color: black;
		opacity: 0.7;
		top: 0;
		left: 0;
		display: inline-block;

	}
	
	.nav a{
		font-size: 10px;

	}
	
	.nav-link{
	 padding: 2px 10px;	
	}
	.contenedor{
		display: inline-block;
		



	}
	.mapasTw{
		display: flex;
		flex-direction: column;
	}
	.mapasTw img{
		width: 80%;
	}
	.mapasMy{
		display: flex;
		flex-direction: column;
	}
	.mapasMy img{
		width: 80%;
	}
	.contenedor2{
		display: flex;
		flex-direction: column;
	}
	.maquina{
		display: flex;
		flex-direction: column;
	}
	.row{
		
		display: flex;
		font-size: 14px;

	}
	.growtw:hover{
		width: 100%;

	}

	.logo-footer{
		display: none;
	}
	.columna-25.logo{
		width:0;
		margin:0;
		padding:0;
		display: none;
	}
	.analisis1{
		display: flex;
		flex-direction: column;
	}
	footer{
		text-align: center;
		align-items: center;
	}
}